
  <body>
  
  
  <form  class="register-form" >
  <section class="vh-100" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">One Time Passowrd</p>
                  
                    <div style="text-align: center" class="mx-0 ">
                        <p class="text-muted">For securtiy reason we have sent OTP to your email.</p>
                    </div>
                    
                    
                  <form class="mx-1 mx-md-4"  >
                
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-2 mt-3">
                        <div id="emailHelp" class="form-text">Please enter valid otp to continue.</div>
                        <input [formControl]="otpEnterByUser" type="text" class="form-control w-50" id="exampleInputPassword1" >
                        <br> <div id="emailHelp" class="form-text text-danger">{{error}}</div><br>
                        <button type="submit" class="btn btn-outline-info" (click)="verifyOtp()" id="otp">Submit</button>
                        <a  href="signin" class="btn btn-outline-danger mx-2" (click)="navigate()">go back</a>
                    </div> 
                    
                    </div>
                    
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
  </body>
  
