<br><br>
<div class="row">

<div class="card col-lg-6" style="width: 28rem; margin-left: 20%; ">
    <img class="card-img-top" src="../assets/images/flight.jfif" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Flights & Offers</h3>
      <p class="card-text">Click to add new flights and offer or update the existing flights and offer.</p>
      <a  class="btn btn-primary" routerLink="/flights">Click Here!</a>
    </div>
</div>
<div class="card col-lg-6" style="width: 28rem; margin-left: 10%; ">
    <img class="card-img-top" src="../assets/images/passenger.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Booked Flights & Passenger Details</h3>
      <p class="card-text">Click to see all the booked flights and passenger details.</p>
      <a href="#" class="btn btn-primary">Click Here!</a>
    </div>
</div>
</div>
<div class="row">
    <div class="card col-lg-6" style="width: 28rem; margin-left: 20%; margin-top: 50px; ">
        <img class="card-img-top" src="../assets/images/report.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Reports</h3>
          <p class="card-text">Click to see Reports.</p>
          <a href="#" class="btn btn-primary" style="margin-top: 10px;">User Report</a> <br> 
         <a href="#" class="btn btn-primary" style="margin-top: 10px;">Flight Report</a> <br>
            <a href="#" class="btn btn-primary" style="margin-top: 10px;">Booking Report</a>
        </div>
    </div>
    <div class="card col-lg-6" style="width: 28rem; margin-left: 10%; margin-top: 50px;">
        <img class="card-img-top" src="../assets/images/complaint.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Complaint</h3>
          <p class="card-text">Click to see all the Complains by users.</p>
          <a href="#" class="btn btn-primary">View Complains</a>
         
        </div>
    </div>

</div>

